body {
  background-image: url("../images/background.jpg");
}

.btn {
  border: none;
  /* Remove borders */
  color: white;
  /* Add a text color */
  padding: 14px 28px;
  /* Add some padding */
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
}

.success {
  background-color: #4CAF50;
}


/* Green */

.success:hover {
  background-color: #46a049;
}

.info {
  background-color: #2196F3;
}


/* Blue */

.info:hover {
  background: #0b7dda;
}

.warning {
  background-color: #ff9800;
}


/* Orange */

.warning:hover {
  background: #e68a00;
}

.danger {
  background-color: #f44336;
}


/* Red */

.danger:hover {
  background: #da190b;
}

.default {
  background-color: #e7e7e7;
  color: black;
}


/* Gray */

.default:hover {
  background: #ddd;
}

.first {
  text-align: center;
}

#do {
  width: 60%;
  height: 75px;
  font-size: 15px
}

#did {
  width: 60%;
  height: 75px;
  font-size: 15px
}

#see {
  width: 60%;
  height: 75px;
  font-size: 15px
}

#header {
  text-align: center;
  color: #FF69B4;
  font-family: 'Saira Condensed', sans-serif;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: bold;
  font-size: 65px
}
#fixPadding{
padding-top: 30px;
padding-bottom: 30px;
padding-left: 20.5%;
padding-right: 20.5%
}
