body {
  background-image: url("../images/background.jpg");
  opacity: .95;
}

.btn {
  border: none;
  /* Remove borders */
  color: white;
  /* Add a text color */
  padding: 14px 28px;
  /* Add some padding */
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
}

.success {
  background-color: #4682B4;
}


/* Green */

.success:hover {
  background-color: #FFDAB9;
}

.info {
  background-color: #6495ED;
}


/* Blue */

.info:hover {
  background: #FFDAB9;
}

.warning {
  background-color: #ff9800;
}


/* Orange */

.warning:hover {
  background: #e68a00;
}

.danger {
  background-color: #f44336;
}


/* Red */

.danger:hover {
  background: #da190b;
}

.default {
  background-color: #e7e7e7;
  color: black;
}


/* Gray */

.default:hover {
  background: #ddd;
}

.first {
  text-align: center;
}

#do {
  width: 60%;
  height: 75px;
  font-size: 15px;
}

#did {
  width: 60%;
  height: 75px;
  font-size: 15px
}

#see {
  width: 60%;
  height: 75px;
  font-size: 15px;
  text-align: center;
}

#header {
  text-align: center;
  color: #FF69B4;
  font-family: 'Saira Condensed', sans-serif;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: bold;
  font-size: 450%
}

#fixPadding {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20.5%;
  padding-right: 20.5%;
}

#shheader {
  text-align: center;
  color: #FF69B4;
  font-family: 'Saira Condensed', sans-serif;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: bold;
  font-size: 450%
}

#trheader {
  text-align: center;
  color: #FF69B4;
  font-family: 'Saira Condensed', sans-serif;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: bold;
  font-size: 450%
}

#search {
  text-align: center;
  font-size: 20px;
  color: #40E0D0;
  font-weight: bold;
}

#historytable {
  font-size: 20px;
  font-family: 'Baloo Bhaijaan';
  color: #BC8F8F;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
}

#diz {
  color: #FFDAB9;
  text-align: center;
  font-size: 16px
}

.modal-body {
  text-align: center;
}

#spendingTypes {
  font-size: 16px;
  font-weight: normal;
  width: 90%;
  margin: auto;
}

#percentages {
  text-align: center;
}

.container {
  width: 100%;
}

#historydisplay {
  font-size: 20px;
  font-family: 'Baloo Bhaijaan';
  color: #BC8F8F;
  width: 90%;
  margin: auto;
}
#appendie{
  width: 90%;
  margin: auto;
}
